@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg) translate(5px) rotate(0deg);
  }
  50% {
    transform: rotate(45deg) translate(10px) rotate(-45deg);
  }
  100% {
    transform: rotate(90deg) translate(10px) rotate(-90deg);
  }
  0% {
    transform: rotate(90deg) translate(10px) rotate(-90deg);
  }
}
body {
  background-color: #40A578;
  margin: 0;
  padding: 0;
  font-family: "Ubuntu Mono", monospace;
}

header {
  background-color: #A5DD9B;
  width: 483px;
  height: 80px;
  margin: auto;
  margin-top: -14px;
}

nav {
  font-size: 14px;
  font-weight: 400;
  font-family: "Ubuntu Mono", monospace;
}
nav ul li {
  display: inline-flex;
  justify-content: row;
}
nav a {
  text-decoration: none;
  margin-top: 30px;
  margin-left: 15px;
}
nav a:hover {
  color: #FFFFFF;
}

main .container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
main .container .big-circle {
  width: 340px;
  height: 340px;
  border-radius: 50%;
  background-color: #40A578;
  border: 3px solid #E6FF94;
  margin: 10px;
  margin-left: 50px;
}
main .container .big-circle h1 {
  color: #E6FF94;
  line-height: 40px;
  font-size: 40px;
  font-family: "Ubuntu Mono", monospace;
  font-weight: 400;
  margin: auto 60px;
  margin-top: 93px;
}
main .container .big-circle .small-circle {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background-color: #40A578;
  border: 3px solid #E6FF94;
  display: flex;
  justify-content: center;
  margin-left: 200px;
  margin-top: 10px;
  animation: rotate 4s linear infinite;
}
main .container .big-circle .small-circle h2 {
  color: #E6FF94;
  line-height: 14px;
  font-size: 14px;
  font-family: "Ubuntu Mono", monospace;
  margin: auto;
  display: flex;
  justify-content: center;
  text-align: center;
}
main .container .top-circle {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #A5DD9B;
  border: 6px solid #40A578;
  margin-left: -34px;
  margin-top: 32px;
  animation: pulse 10s infinite;
}
main .container .top-circle h3 {
  color: #006769;
  line-height: 14px;
  font-size: 14px;
  font-family: "Ubuntu Mono", monospace;
  margin-top: 35px;
  margin-left: 8px;
}
main .calculate {
  width: 480px;
  height: 80vh;
  background-color: #A5DD9B;
}
main .calculate h2 {
  font-size: 20px;
  font-family: "Ubuntu Mono", monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #40A578;
  font-weight: 200;
  padding-top: 110px;
}
main .calculate p {
  font-size: 20px;
  font-family: "Ubuntu Mono", monospace;
  display: flex;
  justify-content: center;
  text-align: center;
  color: #006769;
  font-weight: 400;
  margin-left: 35px;
}
main .calculate p.text {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 11px;
  font-family: "Ubuntu Mono", monospace;
  color: #006769;
  font-weight: 400;
  line-height: 15px;
}
main .calculate input {
  width: 272px;
  height: 25px;
  border-radius: 77px;
  border: none;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: #40A578;
  color: #FFFFFF;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}
main .calculate input::-moz-placeholder {
  font-size: 1rem;
  font-family: "Ubuntu Mono", monospace;
  color: #FFFFFF;
  text-align: center;
}
main .calculate input::placeholder {
  font-size: 1rem;
  font-family: "Ubuntu Mono", monospace;
  color: #FFFFFF;
  text-align: center;
}
main .calculate button {
  width: 108px;
  height: 25px;
  border-radius: 77px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #40A578;
  color: #FFFFFF;
  margin: auto;
  font-size: 12px;
}
main .calculate button:hover {
  background-color: #E6FF94;
  color: #40A578;
}
main .calculate .top-circle {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #A5DD9B;
  border: 6px solid #40A578;
  margin-left: 62px;
  margin-top: 52px;
  animation: pulse 10s infinite;
}
main .calculate .top-circle h3 {
  color: #006769;
  line-height: 14px;
  font-size: 14px;
  font-family: "Ubuntu Mono", monospace;
  margin-top: 25px;
  margin-left: 4px;
  display: flex;
  justify-content: center;
  text-align: center;
}
main .greenCheck {
  height: 66vh;
}
main .greenCheck h2 {
  font-size: 2rem;
  font-family: "Ubuntu Mono", monospace;
  display: flex;
  justify-content: center;
  text-align: center;
  color: #E6FF94;
  font-weight: 500;
  margin-left: 35px;
  margin-top: 100px;
}
main .greenCheck h2 br {
  display: none;
}
main .greenCheck p {
  font-family: "Ubuntu Mono", monospace;
  font-size: 16px;
  display: flex;
  justify-content: center;
  text-align: center;
  color: #FFFFFF;
  font-weight: 400;
  margin-left: 35px;
  margin-top: 50px;
}
main .greenCheck input {
  width: 272px;
  height: 25px;
  border-radius: 77px;
  border: none;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: #A5DD9B;
  color: #006769;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}
main .greenCheck input::-moz-placeholder {
  font-size: 1rem;
  font-family: "Ubuntu Mono", monospace;
  color: #006769;
  text-align: center;
}
main .greenCheck input::placeholder {
  font-size: 1rem;
  font-family: "Ubuntu Mono", monospace;
  color: #006769;
  text-align: center;
}
main .greenCheck button {
  width: 108px;
  height: 25px;
  border-radius: 77px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #A5DD9B;
  color: #006769;
  margin: auto;
  font-size: 12px;
}
main .greenCheck button:hover {
  background-color: #E6FF94;
  color: #40A578;
}
main .greenCheck .top-circle {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #A5DD9B;
  border: 6px solid #40A578;
  margin-left: 62px;
  margin-top: 4rem;
  margin-bottom: -20px;
  animation: pulse 10s infinite;
}
main .greenCheck .top-circle h3 {
  color: #006769;
  line-height: 14px;
  font-size: 14px;
  font-family: "Ubuntu Mono", monospace;
  margin-top: 32px;
  margin-left: 4px;
  display: flex;
  justify-content: center;
  text-align: center;
}
main .resources {
  height: 100vh;
  background-color: #A5DD9B;
}
main .resources h2 {
  color: #006769;
  font-size: 2.5rem;
  margin-left: 3rem;
  padding-top: 5rem;
  font-weight: 400;
}
main .resources p {
  color: #006769;
  font-size: 1rem;
  line-height: 1rem;
  margin-left: 3rem;
}
main .resources .resourceList {
  margin-top: 2rem;
}
main .resources .resourceList ul {
  color: #006769;
  margin-top: 3rem;
  margin-left: 3rem;
  padding: 0;
}
main .resources .resourceList ul li {
  margin-bottom: 2rem;
  margin-left: 2rem;
}
main .resources .resourceList ul li a {
  color: #006769;
  text-decoration: none;
  font-size: 1rem;
}
main .resources .resourceList ul li a:hover {
  text-decoration: underline;
}

/* Media Queries */
@media (min-width: 1200px) {
  header {
    width: 1250px;
    padding: 0 20px;
    margin: -16px;
  }
  header nav {
    font-size: 16px;
  }
  header ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  main .container {
    height: 100vh;
    margin-bottom: 10rem;
  }
  main .container .big-circle {
    width: 540px;
    height: 540px;
    border-radius: 50%;
    margin: auto;
    margin-top: 70px;
  }
  main .container .big-circle h1 {
    line-height: 85px;
    font-size: 85px;
    font-family: "Ubuntu Mono", monospace;
    font-weight: 400;
    margin: auto -128px;
    margin-top: 26px;
  }
  main .container .big-circle .small-circle {
    width: 246px;
    height: 246px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    margin-left: 350px;
    margin-top: -80px;
  }
  main .container .big-circle .small-circle h2 {
    line-height: 24px;
    font-size: 24px;
    font-weight: 300;
  }
  main .container .top-circle {
    width: 180px;
    height: 180px;
    margin-left: -230px;
    margin-top: 34px;
    background-color: #A5DD9B;
  }
  main .container .top-circle h3 {
    line-height: 24px;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 85px;
  }
  main .calculate {
    width: 1260px;
    height: 100vh;
  }
  main .calculate h2 {
    font-size: 48px;
    padding-top: 110px;
  }
  main .calculate p {
    font-size: 38px;
    font-family: "Ubuntu Mono", monospace;
    margin-left: 35px;
  }
  main .calculate p.text {
    font-size: 20px;
    line-height: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 30px;
  }
  main .calculate input {
    width: 680px;
    height: 40px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 30px;
  }
  main .calculate button {
    width: 234px;
    height: 40px;
    border-radius: 77px;
    margin: auto;
    font-size: 16px;
    margin-bottom: 30px;
  }
  main .calculate .top-circle {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background-color: #40A578;
    border: 6px solid #A5DD9B;
    margin-left: 130px;
    margin-top: -110px;
    animation: pulse 10s infinite;
  }
  main .calculate .top-circle h3 {
    color: #A5DD9B;
    line-height: 26px;
    font-size: 26px;
    font-family: "Ubuntu Mono", monospace;
    margin-top: 72px;
    margin-left: 2px;
  }
  main .greenCheck {
    height: 100vh;
  }
  main .greenCheck h2 {
    font-size: 3rem;
    font-family: "Ubuntu Mono", monospace;
    display: flex;
    justify-content: center;
    text-align: center;
    color: #E6FF94;
    font-weight: 500;
    margin: auto;
    margin-top: 10rem;
  }
  main .greenCheck p {
    font-family: "Ubuntu Mono", monospace;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    text-align: center;
    color: #FFFFFF;
    font-weight: 400;
    margin-left: 35px;
    margin-top: 50px;
  }
  main .greenCheck input {
    width: 680px;
    height: 40px;
    border-radius: 77px;
    border: none;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: #A5DD9B;
    color: #006769;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  main .greenCheck input::-moz-placeholder {
    font-size: 1rem;
    font-family: "Ubuntu Mono", monospace;
    color: #006769;
    text-align: center;
  }
  main .greenCheck input::placeholder {
    font-size: 1rem;
    font-family: "Ubuntu Mono", monospace;
    color: #006769;
    text-align: center;
  }
  main .greenCheck button {
    width: 234px;
    height: 40px;
    border-radius: 77px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #A5DD9B;
    color: #006769;
    margin: auto;
    font-size: 12px;
  }
  main .greenCheck button:hover {
    background-color: #E6FF94;
    color: #40A578;
  }
  main .greenCheck .top-circle {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background-color: #A5DD9B;
    border: 6px solid #40A578;
    margin-left: 126px;
    margin-top: 220px;
    animation: pulse 10s infinite;
  }
  main .greenCheck .top-circle h3 {
    color: #006769;
    line-height: 26px;
    font-size: 26px;
    font-family: "Ubuntu Mono", monospace;
    margin-top: 82px;
    margin-left: 4px;
    display: flex;
    justify-content: center;
    text-align: center;
  }
  main .resources {
    background-color: #A5DD9B;
  }
  main .resources h2 {
    color: #006769;
    font-size: 4rem;
    margin-left: 3rem;
    margin-top: 115px;
  }
  main .resources p {
    color: #006769;
    font-size: 2rem;
    line-height: 2rem;
    margin-left: 3rem;
    margin-top: 3rem;
  }
  main .resources .resourceList {
    margin-top: 2rem;
  }
  main .resources .resourceList ul {
    color: #006769;
    margin-top: 3rem;
    margin-left: 3rem;
  }
  main .resources .resourceList ul li {
    margin-bottom: 2rem;
    margin-left: 2rem;
  }
  main .resources .resourceList ul li a {
    color: #006769;
    text-decoration: none;
    font-size: 2rem;
  }
}