@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg) translate(5px) rotate(0deg);
  }
  50% {
    transform: rotate(45deg) translate(10px) rotate(-45deg);
  }
  100% {
    transform: rotate(90deg) translate(10px) rotate(-90deg);
  }
  0% {
    transform: rotate(90deg) translate(10px) rotate(-90deg);
  }
}
body {
  background-color: #40A578;
  margin: 0;
  padding: 0;
  font-family: "Ubuntu Mono", monospace;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

header {
  background-color: #A5DD9B;
  width: 100vw;
  height: 80px;
  margin: auto;
  margin-top: -14px;
}

nav {
  font-size: 14px;
  font-weight: 400;
  font-family: "Ubuntu Mono", monospace;
}
nav ul li {
  display: inline-flex;
  justify-content: row;
}
nav a {
  text-decoration: none;
  margin-top: 30px;
  margin-left: 15px;
}
nav a:hover {
  color: #FFFFFF;
}

main .container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}
main .container .big-circle {
  width: 340px;
  height: 340px;
  border-radius: 50%;
  background-color: #40A578;
  border: 3px solid #E6FF94;
  margin: 10px;
  margin-left: 50px;
}
main .container .big-circle h1 {
  color: #E6FF94;
  line-height: 40px;
  font-size: 40px;
  font-family: "Ubuntu Mono", monospace;
  font-weight: 400;
  margin: auto 60px;
  margin-top: 93px;
}
main .container .big-circle .small-circle {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background-color: #40A578;
  border: 3px solid #E6FF94;
  display: flex;
  justify-content: center;
  margin-left: 200px;
  margin-top: 10px;
  animation: rotate 4s linear infinite;
}
main .container .big-circle .small-circle h2 {
  color: #E6FF94;
  line-height: 14px;
  font-size: 14px;
  font-family: "Ubuntu Mono", monospace;
  margin: auto;
  display: flex;
  justify-content: center;
  text-align: center;
}
main .container .top-circle {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #A5DD9B;
  border: 6px solid #40A578;
  margin-left: -34px;
  margin-top: 32px;
  animation: pulse 10s infinite;
}
main .container .top-circle h3 {
  color: #006769;
  line-height: 14px;
  font-size: 14px;
  font-family: "Ubuntu Mono", monospace;
  margin-top: 35px;
  margin-left: 8px;
}
main .calculate {
  width: 100vw;
  height: 80vh;
  background-color: #A5DD9B;
}
main .calculate h2 {
  font-size: 20px;
  font-family: "Ubuntu Mono", monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #40A578;
  font-weight: 200;
  padding-top: 110px;
}
main .calculate p {
  font-size: 20px;
  font-family: "Ubuntu Mono", monospace;
  display: flex;
  justify-content: center;
  text-align: center;
  color: #006769;
  font-weight: 400;
  margin-left: 35px;
}
main .calculate p.text {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 13px;
  font-family: "Ubuntu Mono", monospace;
  color: #006769;
  font-weight: 400;
  line-height: 13px;
}
main .calculate input {
  width: 272px;
  height: 25px;
  border-radius: 77px;
  border: none;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: #40A578;
  color: #FFFFFF;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}
main .calculate input::-moz-placeholder {
  font-size: 1rem;
  font-family: "Ubuntu Mono", monospace;
  color: #FFFFFF;
  text-align: center;
}
main .calculate input::placeholder {
  font-size: 1rem;
  font-family: "Ubuntu Mono", monospace;
  color: #FFFFFF;
  text-align: center;
}
main .calculate button {
  width: 108px;
  height: 25px;
  border-radius: 77px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #40A578;
  color: #FFFFFF;
  margin: auto;
  font-size: 12px;
  cursor: pointer;
}
main .calculate button:hover {
  background-color: #E6FF94;
  color: #40A578;
}
main .calculate .top-circle {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #40A578;
  border: 6px solid #A5DD9B;
  margin-left: 62px;
  margin-top: 72px;
  animation: pulse 10s infinite;
}
main .calculate .top-circle h3 {
  color: #A5DD9B;
  line-height: 14px;
  font-size: 14px;
  font-family: "Ubuntu Mono", monospace;
  margin-top: 25px;
  margin-left: 4px;
  display: flex;
  justify-content: center;
  text-align: center;
}
main .greenCheck {
  height: 65vh;
}
main .greenCheck h2 {
  font-size: 24px;
  font-family: "Ubuntu Mono", monospace;
  display: flex;
  justify-content: center;
  text-align: center;
  color: #E6FF94;
  font-weight: 500;
  margin-left: 35px;
  margin-top: 100px;
}
main .greenCheck h2 br {
  display: none;
}
main .greenCheck p {
  font-family: "Ubuntu Mono", monospace;
  font-size: 16px;
  display: flex;
  justify-content: center;
  text-align: center;
  color: #FFFFFF;
  font-weight: 400;
  margin-left: 35px;
  margin-top: 50px;
}
main .greenCheck input {
  width: 272px;
  height: 25px;
  border-radius: 77px;
  border: none;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: #A5DD9B;
  color: #006769;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}
main .greenCheck input::-moz-placeholder {
  font-size: 1rem;
  font-family: "Ubuntu Mono", monospace;
  color: #006769;
  text-align: center;
}
main .greenCheck input::placeholder {
  font-size: 1rem;
  font-family: "Ubuntu Mono", monospace;
  color: #006769;
  text-align: center;
}
main .greenCheck button {
  width: 108px;
  height: 25px;
  border-radius: 77px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #A5DD9B;
  color: #006769;
  margin: auto;
  font-size: 12px;
  cursor: pointer;
}
main .greenCheck button:hover {
  background-color: #E6FF94;
  color: #40A578;
}
main .greenCheck .top-circle {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #A5DD9B;
  border: 6px solid #40A578;
  margin-left: 62px;
  margin-top: 80px;
  margin-bottom: -20px;
  animation: pulse 10s infinite;
}
main .greenCheck .top-circle h3 {
  color: #006769;
  line-height: 14px;
  font-size: 14px;
  font-family: "Ubuntu Mono", monospace;
  margin-top: 32px;
  margin-left: 4px;
  display: flex;
  justify-content: center;
  text-align: center;
}
main .resources {
  height: 80vh;
  width: 100vw;
  background-color: #A5DD9B;
}
main .resources h2 {
  color: #006769;
  font-size: 2.5rem;
  margin-left: 3rem;
  padding-top: 5rem;
  font-weight: 400;
}
main .resources p {
  color: #006769;
  font-size: 1rem;
  line-height: 1rem;
  margin-left: 3rem;
}
main .resources .resourceList {
  margin-top: 2rem;
}
main .resources .resourceList ul {
  color: #006769;
  margin-top: 3rem;
  margin-left: 3rem;
  padding: 0;
}
main .resources .resourceList ul li {
  margin-bottom: 1rem;
  margin-left: 2rem;
}
main .resources .resourceList ul li a {
  color: #006769;
  text-decoration: none;
  font-size: 1rem;
}
main .resources .resourceList ul li a:hover {
  text-decoration: underline;
}
main .resources .top-circle {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #40A578;
  border: 6px solid #A5DD9B;
  margin-left: 62px;
  margin-top: 52px;
  animation: pulse 10s infinite;
}
main .resources .top-circle h3 {
  color: #A5DD9B;
  line-height: 14px;
  font-size: 14px;
  font-family: "Ubuntu Mono", monospace;
  margin-top: 25px;
  margin-left: 4px;
  display: flex;
  justify-content: center;
  text-align: center;
}
main .content {
  height: 100vh;
  margin-bottom: -13rem;
  margin-top: 2rem;
}
main .content h1 {
  margin-left: 3rem;
  margin-top: 4rem;
  line-height: 2rem;
  font-size: 2rem;
  color: #E6FF94;
  font-weight: 300;
}
main .content p {
  color: #FFFFFF;
  font-size: 14px;
  line-height: 1rem;
  margin-left: 3rem;
  margin-top: 3rem;
  margin-right: 3rem;
}

.footer {
  padding: 20px;
  margin-top: 5rem;
  color: #FFFFFF;
  background-color: #40A578;
}
.footer .footer-container .newsletter {
  align-items: center;
  flex-direction: column;
}
.footer .footer-container .newsletter h4 {
  display: none;
}
.footer .footer-container .newsletter p, .footer .footer-container .newsletter .newsletter-input, .footer .footer-container .newsletter .newsletter-submit {
  margin-bottom: 10px;
}
.footer .footer-container p {
  display: block;
  font-size: small;
}
.footer .footer-section {
  margin-left: 2rem;
}
.footer .footer-section.contact-info, .footer .footer-section.made-possible {
  display: block;
}
@media (max-width: 767px) {
  .footer .footer-section.contact-info, .footer .footer-section.made-possible {
    display: none;
  }
}
.footer .newsletter-input {
  padding: 5px 15px;
  border-radius: 55px;
  margin-bottom: 10px;
  color: #40A578;
  font-family: "Ubuntu Mono", monospace;
  border: 1px solid #A5DD9B;
  background-color: #E6FF94;
}
.footer .newsletter-submit {
  width: 100px;
  padding: 4px 20px;
  border: 1px solid #A5DD9B;
  border-radius: 50px;
  background-color: #40A578;
  color: #E6FF94;
  font-family: "Ubuntu Mono", monospace;
  cursor: pointer;
}
.footer .footer-logo {
  display: flex;
  justify-content: right;
  margin-left: 220px;
  margin-top: -120px;
  margin-right: 2rem;
}
.footer .footer-logo .huge_circle {
  position: relative;
  width: 110px;
  height: 110px;
  border: 4px solid #E6FF94;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #40A578;
}
.footer .footer-logo .huge_circle h2 {
  font-size: 24px;
  text-align: left;
  margin-left: 1rem;
  color: #E6FF94;
  margin: auto;
  line-height: 14px;
}
.footer .footer-logo .huge_circle h2 span {
  font-size: 16px;
  color: #FFFFFF;
}
.footer .footer-logo .huge_circle .small-circle {
  position: absolute;
  bottom: -10px;
  right: -15px;
  width: 40px;
  height: 40px;
  border: 4px solid #E6FF94;
  border-radius: 50%;
  background-color: #40A578;
}

/* Media Queries */
@media (max-width: 767px) {
  .footer-container .newsletter {
    align-items: center;
    flex-direction: column;
  }
  .footer-container .newsletter h4 {
    display: none;
  }
  .footer-container .newsletter p, .footer-container .newsletter .newsletter-input, .footer-container .newsletter .newsletter-submit {
    margin-bottom: 10px;
  }
  .footer-container p {
    display: block;
    font-size: small;
  }
}
@media (min-width: 1200px) {
  header {
    width: 100vw;
    padding: 0 20px;
    margin: -16px;
  }
  header nav {
    font-size: 16px;
  }
  header ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  main .container {
    height: 100vh;
    margin-bottom: 10rem;
  }
  main .container .big-circle {
    width: 540px;
    height: 540px;
    border-radius: 50%;
    margin: auto;
    margin-top: 70px;
  }
  main .container .big-circle h1 {
    line-height: 85px;
    font-size: 85px;
    font-family: "Ubuntu Mono", monospace;
    font-weight: 400;
    margin: auto -128px;
    margin-top: 26px;
  }
  main .container .big-circle .small-circle {
    width: 246px;
    height: 246px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    margin-left: 350px;
    margin-top: -80px;
  }
  main .container .big-circle .small-circle h2 {
    line-height: 24px;
    font-size: 24px;
    font-weight: 300;
  }
  main .container .top-circle {
    width: 180px;
    height: 180px;
    margin-left: -230px;
    margin-top: 34px;
    background-color: #A5DD9B;
  }
  main .container .top-circle h3 {
    line-height: 24px;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 85px;
  }
  main .calculate {
    width: 100vw;
    height: 120vh;
  }
  main .calculate h2 {
    font-size: 48px;
    padding-top: 110px;
  }
  main .calculate p {
    font-size: 38px;
    font-family: "Ubuntu Mono", monospace;
    margin-left: 35px;
  }
  main .calculate p.text {
    font-size: 20px;
    line-height: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 30px;
  }
  main .calculate input {
    width: 680px;
    height: 40px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 30px;
  }
  main .calculate button {
    width: 234px;
    height: 40px;
    border-radius: 77px;
    margin: auto;
    font-size: 16px;
    margin-bottom: 30px;
  }
  main .calculate .top-circle {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background-color: #40A578;
    border: 6px solid #A5DD9B;
    margin-left: 130px;
    margin-top: 80px;
    animation: pulse 10s infinite;
  }
  main .calculate .top-circle h3 {
    color: #A5DD9B;
    line-height: 26px;
    font-size: 26px;
    font-family: "Ubuntu Mono", monospace;
    margin-top: 72px;
    margin-left: 2px;
  }
  main .greenCheck {
    height: 100vh;
  }
  main .greenCheck h2 {
    font-size: 3rem;
    font-family: "Ubuntu Mono", monospace;
    display: flex;
    justify-content: center;
    text-align: center;
    color: #E6FF94;
    font-weight: 500;
    margin: auto;
    margin-top: 10rem;
    margin-left: 210px;
    margin-right: 210px;
  }
  main .greenCheck h2 br {
    display: block;
  }
  main .greenCheck p {
    font-family: "Ubuntu Mono", monospace;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    text-align: center;
    color: #E6FF94;
    font-weight: 400;
    margin-top: 50px;
    margin-left: 160px;
    margin-right: 160px;
  }
  main .greenCheck input {
    width: 680px;
    height: 40px;
    border-radius: 77px;
    border: none;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: #A5DD9B;
    color: #006769;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  main .greenCheck input::-moz-placeholder {
    font-size: 1rem;
    font-family: "Ubuntu Mono", monospace;
    color: #006769;
    text-align: center;
  }
  main .greenCheck input::placeholder {
    font-size: 1rem;
    font-family: "Ubuntu Mono", monospace;
    color: #006769;
    text-align: center;
  }
  main .greenCheck button {
    width: 234px;
    height: 40px;
    border-radius: 77px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #A5DD9B;
    color: #006769;
    margin: auto;
    font-size: 16px;
  }
  main .greenCheck button:hover {
    background-color: #E6FF94;
    color: #40A578;
  }
  main .greenCheck .top-circle {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background-color: #A5DD9B;
    border: 6px solid #40A578;
    margin-left: 126px;
    margin-top: 220px;
    animation: pulse 10s infinite;
  }
  main .greenCheck .top-circle h3 {
    color: #006769;
    line-height: 26px;
    font-size: 26px;
    font-family: "Ubuntu Mono", monospace;
    margin-top: 82px;
    margin-left: 4px;
    display: flex;
    justify-content: center;
    text-align: center;
  }
  main .resources {
    height: 120vh;
    background-color: #A5DD9B;
  }
  main .resources h2 {
    color: #006769;
    font-size: 4rem;
    margin-left: 15rem;
    margin-top: 150px;
  }
  main .resources p {
    color: #006769;
    font-size: 24px;
    line-height: 2rem;
    margin-left: 15rem;
    margin-right: 26rem;
    margin-top: 3rem;
  }
  main .resources p br {
    display: none;
  }
  main .resources .resourceList {
    margin-top: 2rem;
  }
  main .resources .resourceList ul {
    color: #006769;
    margin-top: 3rem;
    margin-left: 15rem;
  }
  main .resources .resourceList ul li {
    margin-bottom: 2rem;
    margin-left: 2rem;
  }
  main .resources .resourceList ul li a {
    color: #006769;
    text-decoration: none;
    font-size: 24px;
  }
  main .resources .top-circle {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background-color: #A5DD9B;
    border: 6px solid #40A578;
    margin-left: 126px;
    margin-top: 90px;
    animation: pulse 10s infinite;
  }
  main .resources .top-circle h3 {
    color: #006769;
    line-height: 26px;
    font-size: 26px;
    font-family: "Ubuntu Mono", monospace;
    margin-top: 82px;
    margin-left: 4px;
    display: flex;
    justify-content: center;
    text-align: center;
  }
  main .resources .bigCircle {
    background-color: transparent;
    position: absolute;
    top: 2430px;
    right: -350px;
    width: 650px;
    height: 650px;
    border: 2px solid #006769;
    border-radius: 50%;
  }
  main .content {
    height: 100vh;
    width: 50%;
    align-items: center;
    margin-left: 10rem;
    margin-top: 5rem;
  }
  main .content h1 {
    margin-left: 3rem;
    margin-top: 10rem;
    line-height: 2rem;
    font-size: 3rem;
    color: #E6FF94;
    font-weight: 300;
  }
  main .content p {
    color: #FFFFFF;
    font-size: 20px;
    line-height: 20px;
    margin-left: 3rem;
    margin-top: 3rem;
    margin-right: 3rem;
  }
  main .content p:last-child {
    display: none;
  }
  .footer-container {
    width: 95%;
    margin-top: 8rem;
    margin-left: 5rem;
    display: flex;
    justify-content: grid;
    grid-template-columns: 3, 1fr;
    gap: 3rem;
  }
  .footer-container .footer-section.contact-info {
    margin-top: 1.2rem;
    margin-right: 3rem;
  }
  .footer-container .footer-section.contact-info h4, .footer-container .footer-section.contact-info p {
    font-size: 16px;
    line-height: 8px;
  }
  .footer-container .footer-section.made-possible h4, .footer-container .footer-section.made-possible p, .footer-container .footer-section.made-possible a {
    font-size: 16px;
    line-height: 16px;
  }
  .footer-container .footer-section.made-possible a {
    color: #FFFFFF;
  }
  .footer-container .footer-section.newsletter h4 {
    display: block;
    margin-top: 2.5rem;
    line-height: 4px;
  }
  .footer-container .footer-section.newsletter p {
    font-size: 16px;
    line-height: 3px;
    margin-right: 4rem;
    margin-top: 2.3rem;
  }
  .footer-container .footer-section.newsletter p:nth-child(3) {
    display: none;
  }
  .footer-container .footer-logo .huge_circle {
    width: 200px;
    height: 200px;
    margin-top: -4rem;
    margin-left: 2.2rem;
  }
  .footer-container .footer-logo .huge_circle h2 {
    font-size: 60px;
    text-align: center;
    line-height: 30px;
  }
  .footer-container .footer-logo .huge_circle h2 span {
    width: 25px;
    font-size: 20px;
    margin: auto;
    font-weight: 200;
  }
  .footer-container .footer-logo .huge_circle .small-circle {
    margin-bottom: 0.3rem;
    width: 80px;
    height: 80px;
  }
}