@import './helpers/variables';
@import './helpers/mixin';
@import './helpers/animations';



body{
    background-color: $main_color;
    margin: 0;
    padding: 0;
    font-family: $font-family;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}
header{
    background-color: $light_color;
    width:100vw;
    height: 80px;
    margin: $margin;
    margin-top: -14px;
}
nav{
    font-size: $font-size;
    font-weight: $font-weight;
    font-family: $font-family;
    ul li{
        display: inline-flex;
        justify-content: row;
    } a{
        text-decoration: none;
         margin-top: 30px;
         margin-left: 15px;
         &:visited{
          color:$text_color;
         }
         &:hover{
            color: $white_color;
         }
    }
}
main{
    .container {
        @include display-main;
        height: 100vh;
        width: 100vw;
    .big-circle{
        width:340px;
        height: 340px;
        border-radius: $border-radius;
        background-color: $main_color;
        border: 3px solid $accent_color;
        margin: 10px ;
        margin-left: 50px;
     h1{
        color: $accent_color;
            line-height: 40px;
            font-size: 40px;
            font-family: $font-family;
            font-weight: $font-weight;
            margin: auto 60px;
            margin-top: 93px;
        }
        .small-circle{
            width:130px;
            height:130px;
            border-radius: $border-radius;
            background-color: $main_color;
            border: 3px solid $accent_color;
            @include display-flex;
            margin-left: 200px;
            margin-top: 10px;
            animation: rotate 4s linear  infinite;
        h2{
            color: $accent_color;
            line-height: $line-height;
            font-size: $font-size;
            font-family: $font-family;
            margin: $margin;
            @include display-flex;
            text-align: center;
        }
        }
        }
    .top-circle{
        width:80px;
        height:80px;
        border-radius: $border-radius;
        background-color: $light_color;
        border:6px solid $main_color;
        margin-left: -34px;
        margin-top:32px;
        h3{
            color: $text_color;
            line-height: $line-height;
            font-size: $font-size;
            font-family: $font-family;
            margin-top: 35px;
            margin-left: 8px;
        }
        animation: pulse 10s infinite;
    }}
    .calculate {
        width:100vw;
        height: 80vh;
        background-color:$light_color;
       h2{
           font-size: 20px;
           font-family: $font-family;
           @include display-main;
           color: $main_color;
           font-weight: 200;
           padding-top: 110px;
       }
       p{ font-size: 20px;
           font-family: $font-family;
           @include display-text-center;
           color: $text_color;
           font-weight: $font-weight;
           margin-left: 35px;
       }
       p.text{
           @include display-text-center;
           font-size: 13px;
           font-family: $font-family;
           color: $text_color;
           font-weight: $font-weight;
           line-height: 13px;
       }
       input {
               width: 272px;
               height: 25px;
               border-radius: 77px;
               border: none;
               @include display-text-center;
               align-items: center;
               background-color: $main_color;
               color: $white_color;
               margin: $margin;
               margin-top: 30px;
               margin-bottom: 30px;
               &::placeholder {
                   font-size: 1rem;
                   font-family: $font-family;
                   color: $white_color;
                   text-align: center;
               }
           }
       button{
           width: 108px;
           height: 25px;
           border-radius: 77px;
           border: none;
           @include display-main;
           background-color: $main_color;
           color: $white_color;
           margin: $margin;
           font-size: 12px;
           &:hover{
           background-color: #E6FF94;
           color: $main_color;
           }
       }
       .top-circle{
           width:80px;
           height:80px;
           border-radius: $border-radius;
           background-color:$light_color;
           border:6px solid $main_color;
           margin-left: 62px;
           margin-top:72px;
           h3{
               color: $text_color;
               line-height: $line-height;
               font-size: $font-size;
               font-family: $font-family;
               margin-top: 25px;
               margin-left: 4px;
               @include display-text-center;
           }
           animation: pulse 10s infinite;
       }
   }
   .greenCheck{
    height: 65vh;
     h2{
        font-size: 24px;
        font-family: $font-family;
        @include display-text-center;
        color: $accent_color;
        font-weight: 500;
        margin-left: 35px;
        margin-top: 100px;
        br{
            display: none;
        }
     }
     p{font-family: $font-family;
        font-size: 16px;
        @include display-text-center;
        color: $white_color;
        font-weight: 400;
        margin-left: 35px;
        margin-top: 50px;

     }
     input {
        width: 272px;
        height: 25px;
        border-radius: 77px;
        border: none;
        @include display-text-center;
        align-items: center;
        background-color: $light_color;
        color: $text_color;
        margin: $margin;
        margin-top: 30px;
        margin-bottom: 30px;
        &::placeholder {
            font-size: 1rem;
            font-family: $font-family;
            color: $text_color;
            text-align: center;
        }
    }
button{
    width: 108px;
    height: 25px;
    border-radius: 77px;
    border: none;
    @include display-main;
    background-color: $light_color;
    color: $text_color;
    margin: $margin;
    font-size: 12px;
    &:hover{
    background-color: #E6FF94;
    color: $main_color;
    }
}
.top-circle{
    width:80px;
    height:80px;
    border-radius: $border-radius;
    background-color: $light_color;
    border:6px solid $main_color;
    margin-left: 62px;
    margin-top:80px;
    margin-bottom: -20px;
    h3{
        color: $text_color;
        line-height: $line-height;
        font-size: $font-size;
        font-family: $font-family;
        margin-top: 32px;
        margin-left: 4px;
        @include display-text-center;
    }
    animation: pulse 10s infinite;
}
   }
   .resources{
    height: 80vh;
    width:100vw;
    background-color: $light_color;
    h2{
        color: $text_color;
        font-size: 2.5rem;
        margin-left: 3rem;
        padding-top:5rem;
        font-weight: $font-weight;
    }
    p {
        color: $text_color;
        font-size: 1rem;
        line-height: 1rem;
        margin-left: 3rem;
        
    }
    .resourceList {
        margin-top: 2rem;
        ul {
            color: $text_color;
            margin-top: 3rem;
            margin-left: 3rem;
            padding: 0;
            li {
                margin-bottom: 1rem;
                margin-left: 2rem;
                a {
                    color: $text_color;
                    text-decoration: none;
                    font-size: 1rem;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
        
    }
    .top-circle{
      width:80px;
      height:80px;
      border-radius: $border-radius;
      background-color:$main_color;
      border:6px solid $light_color;
      margin-left: 62px;
      margin-top:52px;
      h3{
          color: $light_color;
          line-height: $line-height;
          font-size: $font-size;
          font-family: $font-family;
          margin-top: 25px;
          margin-left: 4px;
          @include display-text-center;
      }
      animation: pulse 10s infinite;
  }
}
}
    .content {
        height: 100vh;
        margin-bottom: -13rem;
        margin-top: 2rem;
      h1 {
        $font-family: "Ubuntu Mono", monospace;
        margin-left: 3rem;
        margin-top: 4rem;
        line-height: 2rem;
        font-size: 2rem;
        color: $accent_color;
        font-weight: 300;
      }
      p {
        color: $white_color;
        font-size: 14px;
        line-height: 1rem;
        margin-left: 3rem;
        margin-top: 3rem;  
        margin-right: 3rem;  
      }
    }
  
.footer {
  padding: 20px;
  margin-top: 5rem;
  color: $white_color;
  background-color: $main_color;
.footer-container {

.newsletter {
      align-items: center;
      flex-direction: column;
    h4 {
        display: none;
      }
      p, .newsletter-input, .newsletter-submit {
        margin-bottom: 10px;
      }
      p {
        display: block;
        font-size: small;
      }
    }
  }
}
.footer-section {
  margin-left: 2rem;
  //background-color: red;
  &.contact-info, &.made-possible {
    display: block;
  }
  @media (max-width: 767px) {
    &.contact-info, &.made-possible{
      display: none;
    }
}
  .newsletter-input {
    padding: 5px  15px;
    border-radius: 55px;
    margin-bottom: 10px;
    color: $main_color;
    font-family: $font-family;
    border: 1px solid $light_color;
    background-color: $accent_color;
  }
  .newsletter-submit {
    width: 100px;
    padding: 4px 20px;
    border: 1px solid $light_color;
    border-radius: 50px;
    background-color: $main_color;
    color: $accent_color;
    font-family: $font-family;
    cursor: pointer;
    &:hover{
      background-color: $accent_color;
      color: $main_color;
    }
  }
  .footer-logo {
    display: flex;
    justify-content: right;
    margin-left: 220px;
    margin-top:-120px;
    margin-right: 2rem;
      .huge_circle {
        position: relative;
        width: 110px;
        height: 110px;
        border: 4px solid $accent_color;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $main_color;
        h2 {
          $font-family: "Ubuntu Mono", monospace;
          font-size: 24px;
          text-align: left;
          margin-left: 1rem;
          color: $accent_color;
          margin: auto;
        line-height:14px;
          span {
            font-size: 16px;
            color: $white_color;
          }
        }
        .small-circle {
          position: absolute;
          bottom: -10px;
          right: -15px;
          width: 40px;
          height: 40px;
          border: 4px solid $accent_color;
          border-radius: 50%;
          background-color: $main_color;
        }
      }
    }
}

/* Media Queries */
// @media (min-width: 1200px) {
//     header {
//         width: 1250px;
//         padding: 0 20px;
//         margin: -16px;
//      nav{
//         font-size: 16px;
//      } ul {
//         display: flex;
//         flex-wrap: wrap;
//         justify-content: center;
//     }
// }

// main{
//     .container{
//         height: 100vh;
//         margin-bottom: 10rem;
//         .big-circle {
//             width:540px;
//             height: 540px;
//             border-radius: $border-radius;
//             margin: $margin;
//             margin-top: 70px;
//             h1{
//                 line-height: 85px;
//                 font-size: 85px;
//                 font-family: $font-family;
//                 font-weight: $font-weight;
//                 margin: auto -128px;
//                 margin-top: 26px;
//             }
//             .small-circle {
//                 width:246px;
//                 height:246px;
//                 border-radius: 50%;
//                 display: flex;
//                 justify-content: center;
//                 margin-left: 350px;
//                 margin-top: -80px;
//             h2{
//                 line-height:24px;
//                 font-size: 24px;
//                 font-weight: 300;
//             }
//         }
//         }
//         .top-circle{
//             width:180px;
//             height:180px;
//             margin-left: -230px;
//             margin-top:34px;
//             background-color:$light_color;
//             h3{
//                 line-height: 24px;
//                 font-size: 24px;
//                @include display-main;
//                 text-align: center;
//                 margin-top: 85px;
//             }
//         }
//     }
//      .calculate {
//         width:1260px;
//         height: 100vh;
   
//          h2{
//             font-size: 48px;
//              padding-top: 110px;
//     }
//     p{ font-size: 38px;
//             font-family: $font-family;
//              margin-left: 35px;
//          }
//        p.text{
//             font-size: 20px;
//             line-height: 20px;
//            @include display-text-center;
//            margin-bottom: 30px;
//         }
//          input {
//              width: 680px;
//             height: 40px;
//              @include display-text-center;
//              align-items: center;
//              margin-top: 50px;
//              margin-bottom: 30px;
//          }
//          button{
//          width: 234px;
//          height: 40px;
//          border-radius: 77px;
//          margin: $margin;
//          font-size: 16px;
//          margin-bottom: 30px;
//      }
//      .top-circle{
//          width:180px;
//          height:180px;
//          border-radius: $border-radius;
//          background-color: $main_color;
//          border:6px solid $light_color;
//          margin-left: 130px;
//         margin-top:-110px;
//          h3{
//             color:$light_color;
//              line-height: 26px;
//              font-size: 26px;
//              font-family: $font-family;
//               margin-top: 72px;
//               margin-left: 2px;
//          }
//          animation: pulse 10s infinite;
//      }
//      }
//     .greenCheck{
//         height: 100vh;
//          h2{
//             font-size: 3rem;
//             font-family: $font-family;
//             @include display-text-center;
//             color: $accent_color;
//             font-weight: 500;
//             margin: auto;
//             margin-top: 10rem;
           
//          }
//          p{font-family: $font-family;
//             font-size: 2rem;
//             @include display-text-center;
//             color: $white_color;
//             font-weight: 400;
//             margin-left: 35px;
//             margin-top: 50px;
    
//          }
//          input {
//             width: 680px;
//             height: 40px;
//             border-radius: 77px;
//             border: none;
//             @include display-text-center;
//             align-items: center;
//             background-color: $light_color;
//             color: $text_color;
//             margin: $margin;
//             margin-top: 30px;
//             margin-bottom: 30px;
//             &::placeholder {
//                 font-size: 1rem;
//                 font-family: $font-family;
//                 color: $text_color;
//                 text-align: center;
//             }
//         }
//     button{
//         width: 234px;
//          height: 40px;
//         border-radius: 77px;
//         border: none;
//         @include display-main;
//         background-color: $light_color;
//         color: $text_color;
//         margin: $margin;
//         font-size: 12px;
//         &:hover{
//         background-color: #E6FF94;
//         color: $main_color;
//         }
//     }
//     .top-circle{
//         width:180px;
//         height:180px;
//         border-radius: $border-radius;
//         background-color: $light_color;
//         border:6px solid $main_color;
//         margin-left: 126px;
//         margin-top:220px;
        
//         h3{
//             color: $text_color;
//             line-height: 26px;
//             font-size: 26px;
//             font-family: $font-family;
//             margin-top: 82px;
//             margin-left: 4px;
//             @include display-text-center;
//         }
//         animation: pulse 10s infinite;
//     }
//     }
//     .resources{
//         //height: 100vh;
//         background-color: $light_color;
//         h2{
//             color: $text_color;
//             font-size: 4rem;
//             margin-left: 3rem;
//             margin-top:115px;
//         }
//         p {
//             color: $text_color;
//             font-size: 2rem;
//             line-height: 2rem;
//             margin-left: 3rem;
//             margin-top: 3rem;
            
//         }
//         .resourceList {
//             margin-top: 2rem;
//             ul {
//                 color: $text_color;
//                 margin-top: 3rem;
//                 margin-left: 3rem;
//                 li {
//                     margin-bottom: 2rem;
//                     margin-left: 2rem;
//                     a {
//                         color: $text_color;
//                         text-decoration: none;
//                         font-size: 2rem;
//                         }
//                     }
//                 }
//             }
            
//     }
// }
// }
@media (max-width: 767px) {
  .footer-container {
    .newsletter {
      align-items: center;
      flex-direction: column;
      h4 {
        display: none;
      }
      p, .newsletter-input, .newsletter-submit {
        margin-bottom: 10px;
      }
    }
      p {
        display: block;
        font-size: small;
      }
    }
}
// @media (min-width: 1200px) {
//     main{
//         .content {
//             width: 50%;
//             align-items: center;
//             margin-left: 10rem;
//             margin-top: 5rem;
//           h1 {
//            font-size: 60px;
//            line-height: 80px;
//            margin-left: 1rem;
//            font-family: $font-family;
//            font-weight: $font-weight; 
//           }

//           p {
//               font-size: 19px; 
//               line-height: 2rem;
//               margin-left: 1rem;
//               margin-top: 3rem;
//               color: $white_color;
//             font-family: $font-family;
//           }
//         }
//       }
//  }
// @media (min-width: 1200px) {
//         .footer-container {
//           width: 95%;       
//           margin-top: -9rem;
//           align-items: center;
//           .footer-section {
//             margin: 10px 0;
//            h4, p, a {
//            margin-bottom: 10px;
//            color: $white_color;
//          }
//             &.contact-info {
//               margin-left: 10rem;
//               font-size: 15px;
//               line-height: 10px;
//               color: $white_color;
//               font-family: $font-family;
//             }
//             &.made-possible {
//                 text-align: left;
              
//                 p {
//                     margin: 4px 0; 
//                     font-size: small;
//                     white-space: pre-line;
//                 }
//               }
//             a {
//               color: $white_color;
             
//             }
//           } 
//           .footer-logo {
//             .huge_circle {
//               width: 160px; 
//               height: 160px; 
//               h2 {
//                 font-size: 45px;
//                 margin-right: -1rem;
//                 line-height: 30.07px;
//                 span{
//                     width: 25px;
//                     font-size: 34px;
//                     margin-right: 2rem;                    
//                 }
//               }
//               .small-circle {
//                 width: 55px; 
//                 height: 55px; 
//               }
//             }
         
//           }
//         }
//       }

@media (min-width: 1200px) {
  
  header {
    width:100vw;
      padding: 0 20px;
      margin: -16px;
   nav{
      font-size: 16px;
   } ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
  }
}
main{
  .container{
      height: 100vh;
      margin-bottom: 10rem;
      .big-circle {
          width:540px;
          height: 540px;
          border-radius: $border-radius;
          margin: $margin;
          margin-top: 70px;
          h1{
              line-height: 85px;
              font-size: 85px;
              font-family: $font-family;
              font-weight: $font-weight;
              margin: auto -128px;
              margin-top: 26px;
          }
          .small-circle {
              width:246px;
              height:246px;
              border-radius: 50%;
              display: flex;
              justify-content: center;
              margin-left: 350px;
              margin-top: -80px;
          h2{
              line-height:24px;
              font-size: 24px;
              font-weight: 300;
          }
      }
      }
      .top-circle{
          width:180px;
          height:180px;
          margin-left: -230px;
          margin-top:34px;
          background-color:$light_color;
          h3{
              line-height: 24px;
              font-size: 24px;
             @include display-main;
              text-align: center;
              margin-top: 85px;
          }
      }
  }
   .calculate {
    width:100vw;
      height: 120vh;
       h2{
          font-size: 48px;
           padding-top: 110px;
  }
  p{ font-size: 38px;
          font-family: $font-family;
           margin-left: 35px;
       }
     p.text{
          font-size: 20px;
          line-height: 20px;
         @include display-text-center;
         margin-bottom: 30px;
      }
       input {
           width: 680px;
          height: 40px;
           @include display-text-center;
           align-items: center;
           margin-top: 50px;
           margin-bottom: 30px;
       }
       button{
       width: 234px;
       height: 40px;
       border-radius: 77px;
       margin: $margin;
       font-size: 16px;
       margin-bottom: 30px;
   }
   .top-circle{
       width:180px;
       height:180px;
       border-radius: $border-radius;
       background-color: $main_color;
       border:6px solid $light_color;
       margin-left: 130px;
      margin-top:80px;
      
       h3{
          color:$light_color;
           line-height: 26px;
           font-size: 26px;
           font-family: $font-family;
            margin-top: 72px;
            margin-left: 2px;
       }
       animation: pulse 10s infinite;
   }
   }
  .greenCheck{
      height: 99vh;
       h2{
          font-size: 3rem;
          font-family: $font-family;
          @include display-text-center;
          color: $accent_color;
          font-weight: 500;
          margin: auto;
          margin-top: 10rem;
          margin-left: 210px;
          margin-right: 210px;
         br{
          display: block;
         }
       }
       p{font-family: $font-family;
          font-size: 2rem;
          @include display-text-center;
          color: $accent_color;
          font-weight: 400;
          
          margin-top: 50px;
          margin-left: 160px;
          margin-right: 160px;
  
       }
       input {
          width: 680px;
          height: 40px;
          border-radius: 77px;
          border: none;
          @include display-text-center;
          align-items: center;
          background-color: $light_color;
          color: $text_color;
          margin: $margin;
          margin-top: 30px;
          margin-bottom: 30px;
          &::placeholder {
              font-size: 1rem;
              font-family: $font-family;
              color: $text_color;
              text-align: center;
          }
      }
  button{
      width: 234px;
       height: 40px;
      border-radius: 77px;
      border: none;
      @include display-main;
      background-color: $light_color;
      color: $text_color;
      margin: $margin;
      font-size: 16px;
      &:hover{
      background-color: #E6FF94;
      color: $main_color;
      }
  }
  .top-circle{
      width:180px;
      height:180px;
      border-radius: $border-radius;
      background-color: $light_color;
      border:6px solid $main_color;
      margin-left: 126px;
      margin-top:220px;
      
      h3{
          color: $text_color;
          line-height: 26px;
          font-size: 26px;
          font-family: $font-family;
          margin-top: 82px;
          margin-left: 4px;
          @include display-text-center;
      }
      animation: pulse 10s infinite;
  }
  }
  .resources{
      height: 120vh;
      background-color: $light_color;
      h2{
          color: $text_color;
          font-size: 4rem;
          margin-left: 15rem;
          margin-top:150px;
          //margin-top: 9rem;
      }
      p {
          color: $text_color;
          font-size: 24px;
          line-height: 2rem;
          margin-left: 15rem;
          margin-right: 26rem;
          margin-top: 3rem;
          br{
            display: none;
          }
          
      }
      .resourceList {
          margin-top: 2rem;
          ul {
              color: $text_color;
              margin-top: 3rem;
              margin-left: 15rem;
              li {
                  margin-bottom: 2rem;
                  margin-left: 2rem;
                  a {
                      color: $text_color;
                      text-decoration: none;
                      font-size: 24px;
                      }
                  }
              }
          }
      .top-circle{
            width:180px;
            height:180px;
            border-radius: $border-radius;
            background-color: $light_color;
            border:6px solid $main_color;
            margin-left: 126px;
            margin-top:90px;
            
            h3{
                color: $text_color;
                line-height: 26px;
                font-size: 26px;
                font-family: $font-family;
                margin-top: 82px;
                margin-left: 4px;
                @include display-text-center;
            }
            animation: pulse 10s infinite;
        }
      .bigCircle{
        background-color: transparent;
        position: absolute;
        top: 2430px;
        right: -350px;
        width: 650px;
        height: 650px;
        border: 2px solid $text_color;
        border-radius: 50%;
        
      }
          
  }
  .content {
    height: 100vh;
    width: 50%;
          align-items: center;
          margin-left: 10rem;
          margin-top: 5rem;
  h1 {
    $font-family: "Ubuntu Mono", monospace;
    margin-left: 3rem;
    margin-top: 10rem;
    line-height: 2rem;
    font-size: 3rem;
    color: $accent_color;
    font-weight: 300;
  }
  p {
    color: $white_color;
    font-size: 20px;
    line-height: 20px;
    margin-left: 3rem;
    margin-top: 3rem; 
    margin-right: 3rem; 
    // &:last-child{
    //   display: none;  
  }
  
  }
}
.footer-container {
width: 95%;       
margin-top: 8rem;
margin-left: 5rem;
 display: flex;
 justify-content: grid;
 grid-template-columns: 3, 1fr;
 gap: 2rem;

 .footer-section {
  &.contact-info{
    margin-top: 1.2rem;
    margin-right: 3rem;
    h4, p{
      font-size: 16px;
      line-height: 16px; 
    }}
    &.made-possible{
      h4,p,a{
        font-size: 16px;
        line-height: 16px;
      }
      a{
      color: $white_color;
      }
    }
 
  &.newsletter{
    h4{
      display: block;
      margin-top: 2.6rem;
      line-height: 4px;
    }
    p{
      font-size: 16px;
      line-height: 3px;
      margin-right: 4rem;
      margin-top: 2.3rem;
      margin-bottom: 1.5rem;
      &:nth-child(3){
        display: none;
      }
    }
    
  }
  }
  .footer-logo {
    .huge_circle {
      width: 200px; 
      height: 200px; 
      margin-top: -4rem;
      margin-left: 2.2rem;
      h2 {
        font-size: 60px;
        text-align: center;
        line-height: 30px;
        span{
            width: 25px;
            font-size: 20px;
            margin: auto;
            //margin-right: 5rem;  
            font-weight: 200;                  
        }
      }
      .small-circle {
        margin-bottom: 0.3rem;
        width: 80px; 
        height: 80px; 
      }
    }
 
  }
 
 }

} 
